
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
      <a href="http://pressroom.itnamerica.org/category/itnorlando/">
        <div class="pressroom col-sm-6 row">
          <div class="col-sm-6 pressroom-image">
            <img src="assets/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul style="">
              <li><a href="http://pressroom.itnamerica.org/category/itnorlando/">Pressroom Blog</a></li>
            </ul>
          </div><!--pressroom-image-->
          <div class="col-sm-6 pressroom-title"><h3>Pressroom</h3></div>
        </div><!--pressroom-->
      </a>
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <img src="assets/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li><a 
               href="assets/images/docs/newsletter/2018_Mar_Apr_newsletter.pdf"  
               role="newsletter march april 2018">Newsletter March-April 2018</a></li>
        </ul>
        </div><!--newsletter-content-->
        <div class="col-sm-6 newsletter-title"><h3>Newsletters</h3></div>
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->