
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/Jack_Miles.jpg" alt="Jack Miles Portrait"/>
            <h2>Jack Miles</h2>
            <p class="title">Board Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Jack Miles is a business strategy and operations C-Suite leader with over 30 years experience successfully transforming corporate services, administration and sourcing organizations in leading North American firms and Government.</p>

              <p>Florida Governor Rick Scott appointed Jack as the Secretary of the Department of Management Services (DMS) and he served in that role until April of 2012. DMS is a large and diverse state agency with an annual direct operating budget of $2.5 billion and a functional budget of over $9.5 billion, about 14% of the States $70.0 billion annual budget.</p>

              <p>Functions within DMS include Real Estate, Facilities, Procurement and My Florida Marketplace, Human Resource Policy and HR Technology, Employee Benefits, Telecommunications including Voice, Data, Emergency 911, Mobile, Law Enforcement Interoperability and Broadband, Retirement Services, Fleet and Vehicle Services, Private Prison Monitoring and Surplus Equipment. DMS also facilitates State Term Contracts; aggregating statewide public sector spend which towns, counties, municipalities and other eligible users across Florida are able to utilize.</p>

              <p>Prior to his appointment Jack held C-Suite shared services and Chief Procurement Officer roles at leading North American firms including CIGNA, Canadian Imperial Bank of Commerce (CIBC), American International Group (AIG), Computer Associates (CA), Travelers, Ames Department Stores and Prentice-Hall.</p>

              <p>He serves on the Executive Advisory Board of Coupa Software Inc., DocuSign Inc., PeopleTicker Inc., Incapsulate, SQYGL, and Stamp-Vault/Blue Apricot. He is a Mentor at Startup Quest Orlando and Starter Studio a technology accelerator in Orlando FL. He also serves on the Board of Trustees of Florida TaxWatch and is a member of the TaxWatch Center for Government Efficiency.  In 2015 Jack was appointed to the State of Florida, legislatively mandated Government Efficiency Task Force where he serves on several committees. Jack also serves as a member of the Board of Directors of Casa Feliz Historic Home and Museum.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/nopic_male.png" alt="Jerome Williams portrait"/>
            <h2>Jerome T .Williams</h2>
            <p class="title">Board member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Jerome Williams has dedicated the majority of his adult life to public service. After 8 years of honorable service in the U.S. Army as a medical specialist, he returned home to be the primary caregiver for his aging parents. Later he gained employment with Orange County Public Schools. After 22 years of service with the school system, he retired in 2010. He is now an AARP volunteer leader and advocate. He is actively involved with the Livable Communities movement and focuses on making communities in Florida better for people of all ages, and aims to improve access to reliable transportation for seniors. </p>

              <p>In 1985 Mr. Williams was handpicked by Callahan Neighborhood Assn, Inc. (CNA) leaders to become the organization's first Executive Director. The small grassroots organization of predominately senior citizens worked for fair allocation of public resources for the neighborhood of Parramore, Florida, Mr. Williams' home town. He worked with the City of Orlando and CNA to create the Callahan/Holden Neighborhood Plan where he established outreach programs, monitored the Community Development Block Grant allocation, as well as financial reporting and records. His direct involvement with the project resulted in paved streets, new drainage systems, approved compatible zoning, and for the first time in 50 years, the construction of new housing within the community.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/nopic_female.png" alt="Lois Mills portrait"/>
            <h2>Lois Mills</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Lois Mills is a native of New Jersey, a longtime resident of Orlando and a member of ITNOrlando for about five years, along with her German shepherd, Rita, who is her Seeing Eye dog.</p>

              <p>Ms. Mills is well-versed in several academic areas including, social studies, English, American history, economics, and legal studies. She holds a B.A. from Caldwell College (now Caldwell University) in Caldwell, NJ, an M.A. from The Catholic University of America, Washington, DC, and a B.A. from the University of Central Florida, Orlando.</p>

              <p>She taught English and history at a Catholic high school in Jersey City, NJ, worked for the Defense Department at Ft. Meade, MD. She retired from the Legal Aid Society of the Orange County Bar Association in Orlando where she served as manager of intake department. She also taught family law at Southern College in Orlando in their paralegal program.</p>

              <p>Active in the community, Ms. Mills is a member of Toastmasters International for public speaking and leadership training, and has served as secretary, educational vice-president and president. She's also a member of Amnesty International, local group 519 in Orlando, a volunteer with We Care, a crisis intervention center in Orlando, and a member of St. James Catholic Cathedral in Orlando where she has served in several organizations and ministries, currently as a lector.</p>

              <p>She's been a member of a Great Books Reading & Discussion group in Orlando for about 30 years and is a regular attendee at local symphony and opera performances, which she says she may not have been able to continue without her membership to ITN.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
      </section>
    
      <section class="org-section" id="start">
        <img class="itn-icon" src="assets/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" src="assets/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>Orlando</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

          <!-- <section class="org-section ta-center" id="staff">
  <h1>Staff</h1>
  
  <div class="row mt-50 mb-50">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <img src="assets/images/board/Zain_Durrani.jpg" alt="Zain Durrani portrait"/>
      <h2>Zain Durrani</h2>
      <p class="title"><strong>Operations Manager</strong></p>
      
      <div class="showBoardBio mt-25">
        <p>Zain Durrani, Operations Manager, began his tenure with ITNOrlando in 2013 as a driver. A native of Ohio, Zain attended the Miami University of Ohio until he decided to move to sunny Orlando where he is currently pursuing his Bachelor's degree. Before joining ITNOrlando, Zain managed a food market in Cincinnait, Ohio.</p>

        <p>Zain and his wife reside in Orlando, Florida and enjoy spending time outside at the golf course with ITNOrlando member/volunteer Jack, strolling through Universal Studios, or at the beach. At home, you can frequently find Zain in the kitchen trying out a new recipe; he hopes to one day open his own restaurant and share his love of food with others.</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

</section> -->



        <section class="org-section" id="staff">
          <h1>Staff</h1>
          <div class="container">

            <div class="row mb-100">
            <div class="col-sm-4">
              <img src="assets/images/board/Zain_Durrani.jpg" alt="Zain Durrani portrait"/>
              <h2>Zain Durrani</h2>
              <p class="title"><strong>Operations Manager</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio11">
                <p>Zain Durrani, Operations Manager, began his tenure with ITNOrlando in 2013 as a driver. A native of Ohio, Zain attended the Miami University of Ohio until he decided to move to sunny Orlando where he is currently pursuing his Bachelor's degree. Before joining ITNOrlando, Zain managed a food market in Cincinnait, Ohio.</p>

                <p>Zain and his wife reside in Orlando, Florida and enjoy spending time outside at the golf course with ITNOrlando member/volunteer Jack, strolling through Universal Studios, or at the beach. At home, you can frequently find Zain in the kitchen trying out a new recipe; he hopes to one day open his own restaurant and share his love of food with others.</p>
              </div>
            </div><!--col-sm-4-->      
          
        <div class="col-sm-4"></div><!--col-sm-4-->

        <div class="col-sm-4"></div><!--col-sm-4-->
        </div><!--row-->


        </div><!--container-->
        </section>



        </div><!--container-->  
    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
      new WOW().init();
    </script>

