
    <div class="pay-online">
      
      <div class="jumbotron section first-hero" id="first-hero-pay-online">
        <h1>Pay By Phone</h1>
      </div>
      
      <div class="jumbotron section container">
      <div class="title">
        <h2>We now take payments over the phone.</h2>
        <hr align="left">
      </div>

      <div class="jumbotron mt-100 ta-center">
          <h2 class="">To pay invoice or add ride credits, call us at (407) 900-7572.</h2>
          <img ng-src="{{assetsPath}}/images/icons/phone.png" style="height:250px"/>
      </div><!--row-->

    </div><!--jumbo-->  
    </div><!--pay-online-->
  